@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";
:root {
  background-color: white;
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 250px;
  min-width: 0;
}

@media (min-width: 640px) {
  .embla__slide {
    flex: 0 0 300px;
    min-width: 0;
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 400px;
    min-width: 0;
  }
}

.tox-statusbar {
  display: none !important;
}

.tox-tinymce {
  border: none !important;
}

.tox-statusbar {
  display: none !important;
}