@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 250px;
  min-width: 0;
}

.tox-statusbar {
  display: none !important;
}

.tox-tinymce {
  border: none !important;
}

@media (min-width: 640px) {
  .embla__slide {
    flex: 0 0 350px; /* Breakpoint SM slide covers 50% of the viewport */
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 400px; /* Breakpoint SM slide covers 50% of the viewport */
  }
}
