/* Style สำหรับแท็ก Blockquote */
blockquote {
  margin-left: 0;
  padding-left: 1.5rem;
  border-left: 4px solid #e2e8f0;
}

/* Style สำหรับแท็ก Definition List */
dl {
  margin-bottom: 1rem;
}

/* Style สำหรับแท็ก Definition Description */
dd {
  margin-left: 0;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p strong {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Style for Heading 1 */
h1 {
  font-size: 2rem; /* Larger for primary headings */
  font-weight: 500; /* Bold for emphasis */
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Style for Heading 2 */
h2 {
  font-size: 1.75rem; /* Slightly smaller than h1 */
  font-weight: 400; /* Less bold than h1 */
  line-height: 1.3;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Style for Heading 3 */
h3 {
  font-size: 1.5rem; /* Smaller than h2 */
  font-weight: 300; /* Medium boldness */
  line-height: 1.4;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Style for Heading 4 */
h4 {
  font-size: 1.25rem; /* Smaller than h3 */
  font-weight: 200; /* Normal weight */
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Style for Heading 5 */
h5 {
  font-size: 1rem; /* Smaller than h4 */
  font-weight: 100; /* Maintaining normal weight for less emphasis */
  line-height: 1.6;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Style for Heading 6 */
h6 {
  font-size: 0.75rem; /* Smallest heading */
  font-weight: 100; /* Consistent weight for least emphasis */
  line-height: 1.7;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Style สำหรับแท็ก Horizontal Rule */
hr {
  border: 0;
  border-top: 1px solid #e2e8f0;
  margin: 1rem 0;
}

/* Style สำหรับแท็ก Figure */
figure {
  margin: 0 0 1rem;
}

/* Style สำหรับแท็ก Paragraph */

/* Style สำหรับแท็ก Unordered List */
ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

/* Style สำหรับแท็ก Ordered List */
ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

/* Style สำหรับแท็ก List Item */
li {
  margin-bottom: 0.25rem;
}

/* Style สำหรับแท็ก Code */
code {
  font-size: 90%;
  color: #c53030;
  background-color: #f7f7f7;
  border-radius: 0.25rem;
}

/* Style สำหรับแท็ก Preformatted Text */
pre {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  font-size: 0.875rem;
  background-color: #f7f7f7;
  border-radius: 0.25rem;
  overflow-x: auto;
}

/* Style สำหรับแท็ก Ordered List Item */
ol li {
  margin-bottom: 0.25rem;
}

/* Style สำหรับแท็ก Ordered List Item ซึ่งเป็นตัวเลข */
ol li {
  list-style-type: decimal;
}

pw-post-body-paragraph {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul li::before {
  content: "\2022"; /* ใช้ bullet character */
  color: #333; /* สีของ bullet */
  display: inline-block;
  width: 1em; /* กำหนดขนาดของ bullet */
  margin-left: -1em; /* ให้ bullet อยู่ในพื้นที่ของ padding และ margin ของ li */
}

img {
  max-width: 100%;
  height: auto; /* Maintains the aspect ratio of the image */
  display: block; /* Removes the default inline behavior, fixing issues with spacing below the image */
}
